#dogeWord {
  font-size: 30px;
  font-weight: strong;
}
#dogeBg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
#summary {
  color: #000;
  font-size: 20px;
  font-weight: strong;
}
